.modalStyles{
    width: 50vw;
    height: 90vh;
    background-color: #e2e8f0;
    padding: 2rem;
    position: relative;
    overflow-y: auto;
}

.addtodo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconStyle{
    stroke: #475569;
    font-Size: 1.8rem;
    cursor: pointer;
}

.inputLAbel{
    margin: 1rem 0 ;
}