.homeContainer{
    width: 100%;
    height: 100%;
    display: flex;
}

.bodyContainer{
    overflow: auto;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* gap: 1rem; */
    height: 85%;
    padding: 1rem;    
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
}

.mainDiv{
    width: 100%;
    /* padding: 0 2rem; */
    box-sizing: border-box;
}

.add-item-style{
    font-size: 14px;
	font-weight: 400;
	line-height: 20px;

	/* Color & Background */
	color: #94A3B8;

	/* Box */
	box-sizing: border-box ;
    border : 2px dashed #CBD5E1;
	border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-item-style:hover{
    border: none;
    background-color: #CBD5E1;
    color: #64748B;
}